name: docker pull
on:
  workflow_dispatch:
  schedule:
    - cron: '14 11 * * *'
  push:
    branches:
    - 'master'
jobs:
  converge:
    name: docker pull
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@main
    - run: |
        export PATH=$PATH:$(pwd)/bundler/bin
        gem install --install-dir ./bundler bundler -v '2.2.6'
        bundle config set path 'vendor/bundle'
        bundle install
        bundle exec docker_pull.rb
